//size
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;
$size-36: 36px;
$size-42: 42px;
$size-48: 48px;
$size-64: 64px;

//color
$primary: #aa0601; //red
$secondary: #650300; //dark-red
$success: #fbf2f2; //beige
$light: #fff; //white
$dark: #000; //black
$info-1: #5F3E2D; //brown
$info-2: #B75929; //orange
$info-3: #212529; //dark-gray
$warning: #555555; //gray