.header {
  background: $primary;
}

.navbar {
  align-items: center;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  img {
    width: 80px;
    margin: 12px 0;
  }
}

.nav-list {

  @include mobile {
    flex-wrap: wrap;
    width: 100%;
  }


  li {
    font-size: $size-20;

    &:last-child a {
      padding-right: 0;
    }

    @include mobile {
      border: 1px solid $light;
      width: 50%;
    }
  }

  a {
    color: $light;
    padding: 0 32px;
    text-align: center;

    @include mobile {
      display: block;
      font-size: $size-16;
      padding: 12px 0;
    }
  }
}