//size
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-36: 36px;
$size-48: 48px;
$size-64: 64px;

//color
$red: #aa0601;
$dark-red: #650300;
$beige: #fbf2f2;
$white: #fff;
$black: #000;
$brown: #5F3E2D;
$orange: #B75929;