<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>門市據點</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="store">
            <div class="container">
                <div class="store-header d-flex mb-4">
                    <div class="left-border"></div>
                    <h2>門市據點</h2>
                </div>

                <div class="store-area d-flex">
                    <label for="area">選擇地區</label>
                    <select name="area" id="area">
                        <option value="taipei" selected>台北市</option>
                        <option value="taichung">台中市</option>
                        <option value="kaohsiung">高雄市</option>
                    </select>
                </div>

                <ul class="store-list d-flex space-between">
                    <li class="store-list-card mb-6">
                        <img src="../assets/images/store-1.png" alt="店面照片">
                        <h3>台北中山旗艦店</h3>
                        <ul class="store-info">
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">call</span>
                                <a href="#">
                                    <p>電話：(02)000-1234</p>
                                </a>
                            </li>
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <p>營業時間：10:00-21:00</p>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="material-symbols-outlined">location_on</span>
                                <a href="#">
                                    <p>地址：台北市中山區南京東路25巷2-1號</p>
                                </a>
                            </li>
                        </ul>
                        <div class="store-more">
                            <a href="#" class="text-center">詳細資訊</a>
                        </div>
                    </li>

                    <li class="store-list-card mb-6">
                        <img src="../assets/images/store-2.png" alt="店面照片">
                        <h3>台北綠園店</h3>
                        <ul class="store-info">
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">call</span>
                                <a href="#">
                                    <p>電話：(02)000-2345</p>
                                </a>
                            </li>
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <p>營業時間：10:00-21:00</p>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="material-symbols-outlined">location_on</span>
                                <a href="#">
                                    <p>地址：台北市中正區復興南路 132-1 號</p>
                                </a>
                            </li>
                        </ul>
                        <div class="store-more">
                            <a href="#" class="text-center">詳細資訊</a>
                        </div>
                    </li>

                    <li class="store-list-card mb-6">
                        <img src="../assets/images/store-3.png" alt="店面照片">
                        <h3>台中清水旗艦店</h3>
                        <ul class="store-info">
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">call</span>
                                <a href="#">
                                    <p>電話：(02)000-1234</p>
                                </a>
                            </li>
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <p>營業時間：10:00-21:00</p>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="material-symbols-outlined">location_on</span>
                                <a href="#">
                                    <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                                </a>
                            </li>
                        </ul>
                        <div class="store-more">
                            <a href="#" class="text-center">詳細資訊</a>
                        </div>
                    </li>

                    <li class="store-list-card">
                        <img src="../assets/images/store-4.png" alt="店面照片">
                        <h3>高雄中正形象店</h3>
                        <ul class="store-info">
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">call</span>
                                <a href="#">
                                    <p>電話：(07)000-2345</p>
                                </a>
                            </li>
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <p>營業時間：10:00-21:00</p>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="material-symbols-outlined">location_on</span>
                                <a href="#">
                                    <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                                </a>
                            </li>
                        </ul>
                        <div class="store-more">
                            <a href="#" class="text-center">詳細資訊</a>
                        </div>
                    </li>

                    <li class="store-list-card">
                        <img src="../assets/images/store-5.png" alt="店面照片">
                        <h3>高雄夢時代店</h3>
                        <ul class="store-info">
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">call</span>
                                <a href="#">
                                    <p>電話：(07)000-1234</p>
                                </a>
                            </li>
                            <li class="d-flex mb-1">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                                <p>營業時間：10:00-21:00</p>
                            </li>
                            <li class="d-flex mb-2">
                                <span class="material-symbols-outlined">location_on</span>
                                <a href="#">
                                    <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                                </a>
                            </li>
                        </ul>
                        <div class="store-more">
                            <a href="#" class="text-center">詳細資訊</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>



        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>